@page
@model CitasEPS.Pages.UserDashboards.Admin.Medications.CreateModel

@{
    ViewData["Title"] = "Crear Medicamento";
    Layout = "~/Pages/Shared/_Layout.cshtml"; // Use standard layout
}

<h1><i class="bi bi-plus-circle"></i> @ViewData["Title"]</h1>

<h4>Medicamento</h4>
<hr />
<div class="row">
    <div class="col-md-6">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group mb-3">
                <label asp-for="Medication.Name" class="control-label"></label>
                <input asp-for="Medication.Name" class="form-control" />
                <span asp-validation-for="Medication.Name" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Medication.Description" class="control-label"></label>
                <textarea asp-for="Medication.Description" class="form-control" rows="3"></textarea>
                <span asp-validation-for="Medication.Description" class="text-danger"></span>
            </div>
            <div class="form-group mt-4">
                 <button type="submit" class="btn btn-primary me-2"><i class="bi bi-check-circle"></i> Crear</button>
                 <a asp-page="Index" class="btn btn-secondary"><i class="bi bi-x-circle"></i> Cancelar</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
} 
