@page
@model DeletePersonalDataModel
@{
    ViewData["Title"] = "Eliminar Datos Personales";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h4>@ViewData["Title"]</h4>

<div class="alert alert-warning" role="alert">
    <p>
        <strong>Eliminar estos datos eliminará permanentemente tu cuenta, y esto no se puede recuperar.</strong>
    </p>
</div>

<div class="row">
    <div class="col-md-8">
        <div class="card shadow-sm">
            <div class="card-body">
                <form id="delete-user" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger mb-3" role="alert"></div>
                    @if (Model.RequirePassword)
                    {
                        <div class="form-floating mb-3">
                            <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="Ingresa tu contraseña" />
                            <label asp-for="Input.Password" class="form-label">Contraseña</label>
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>
                    }
                    <button class="w-100 btn btn-danger" type="submit">Eliminar datos y cerrar mi cuenta</button>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
