@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Confirmaci칩n de olvido de contrase침a";
}

<h1>@ViewData["Title"]</h1>
<p>
    Por favor, revisa tu correo electr칩nico para restablecer tu contrase침a.
</p>
